.modal-block{
    margin: auto;
    display: flex;
    flex-direction: column;
    .edit-textarea{
        border: 1px solid black;
        border-radius: 0.5rem;
        padding: 0.2rem;
        font-size: 1rem;
        width: 200px;
        height: 200px;
        margin-bottom: 0.7rem;
    }
    .edit-button{
        border: 1px solid black;
        border-radius: 0.5rem;
        font-size: 1rem;
        padding: 0.4rem 1rem;
        align-items: center;
    }
}