.message-item-wrp {
    display: flex;
    align-items: center;

    .message-item {
        display: inline-flex;
        max-width: 500px;
        padding: 0.6rem;
        margin: 1rem;
        border: 1px solid black;
        border-radius: 0.5rem;

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        .message-text {
            display: flex;
            flex-direction: column;
            margin: 0.6rem;

            .user-name {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        .message-time {
            align-items: flex-start;
            justify-content: flex-end;
        }
    }

    .like-icon {
        width: 1.7rem;
        height: 1.7rem;
        filter: invert(0%) sepia(98%) saturate(0%) hue-rotate(28deg) brightness(98%) contrast(105%);
    }

    .like-icon-liked {
        width: 1.7rem;
        height: 1.7rem;
        filter: invert(11%) sepia(93%) saturate(4483%) hue-rotate(330deg) brightness(98%) contrast(96%);
    }

}

.your-message-item-wrp {
    display: flex;
    justify-content: flex-end;
    .icons-wrp{
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        .edit-icon,
        .delete-icon {
            margin: 0.5rem 0;
            width: 1.3rem;
            height: 1.3rem;
        }
    }
    .your-message-item {
        display: inline-flex;
        float: right;
        max-width: 500px;
        padding: 0.6rem;
        background-color: #e3e3e3;
        margin: 1rem;
        border: 1px solid black;
        border-radius: 0.5rem;

        .message-text {
            display: flex;
            flex-direction: column;
            margin: 0.6rem;

            .user-name {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        .message-time {
            align-items: flex-start;
            justify-content: flex-start;
        }

    }
}