.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.4);
  border-right: 1.1em solid rgba(255, 255, 255, 0.4);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.4);
  border-left: 1.1em solid #ffffff;
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  animation: animate 1.1s infinite linear;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
